.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/frontend/node_modules
/IT服务/
/data/
/venv/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
convert_md2docx.py
数智IT客服项目说明及操作指导.md
数智IT客服项目说明及操作指导.docx
附件3.3：数智IT客服项目说明及操作指导.docx
.env    
